<!doctype html>
<html lang="en" ng-app="cdbmanager">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>CartoDB Manager</title>
        <link rel="stylesheet" href="vendor/bootstrap/bootstrap.min.css">
        <link rel="stylesheet" href="vendor/codemirror/codemirror.css" />
        <style>
            .CodeMirror {
                border-top: 1px solid black;
                border-bottom: 1px solid black;
            }
        </style>
        <script src="vendor/jquery-1.11.2.min.js"></script>
        <script src="vendor/bootstrap/bootstrap.min.js"></script>
        <script src="vendor/angularjs/angular.min.js"></script>
    </head>
    <body>
        <!-- Top bar -->
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">CDB Manager</a>
                </div>
          </div>
        </nav>
        <!-- Alert messages -->
        <div class="container-fluid">
            <div ng-controller="AlertCtrl">
                <div ng-repeat="alert in alerts" ng-class="'alert alert-dismissable alert-' + alert.type" role="alert">
                    <button type="button" class="close" ng-click="closeAlert($index)" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <alert role="alert">{{ alert.msg }}</alert>
                </div>
            </div>
        </div>
        <!-- Main work area -->
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-3">
                    <div class="panel-group" id="accordion" role="tablist">
                        <!-- Endpoint manager -->
                        <div class="panel panel-default" ng-controller="endpointsCtrl">
                            <!-- Endpoint selector -->
                            <div class="panel-heading" role="tab" id="endpointPanelHeading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#endpointPanelCollapse" aria-expanded="true" aria-controls="endpointPanelCollapse">Current endpoint:</a>
                                    <select ng-options="endpoint as endpoint.name for endpoint in endpoints" ng-model="current" ng-change="setCurrent()"></select>
                                </h4>
                            </div>
                            <!-- New endpoint dialog -->
                            <div id="endpointPanelCollapse" class="panel-collapse collapse" role="tabpanel" aria-labelledby="endpointPanelHeading">
                                <form name="updatedEndpoint" novalidate>
                                    <div class="panel-body">
                                        <div class="form-group">
                                            <label for="name">Endpoint name</label>
                                            <input type="text" id="name" class="form-control" ng-model="updatedEndpoint.name" ng-disabled="!current">
                                        </div>
                                        <div class="form-group">
                                            <label for="name">SQL API endpoint URL</label>
                                            <input type="text" id="url" class="form-control" ng-model="updatedEndpoint.url" ng-disabled="!current">
                                        </div>
                                        <div class="form-group">
                                            <label for="name">API key</label>
                                            <input type="text" id="api_key" class="form-control" ng-model="updatedEndpoint.apiKey" ng-disabled="!current">
                                        </div>
                                    </div>
                                    <div class="panel-footer">
                                        <button type="button" class="btn btn-default" ng-click="addEndpoint()">New</button>
                                        <div class="pull-right">
                                            <button type="button" class="btn btn-default" ng-click="removeCurrentEndpoint()" ng-disabled="!current">Remove</button>
                                            <button type="button" class="btn btn-default btn-primary" ng-click="updateCurrentEndpoint(updatedEndpoint)" ng-disabled="!current">Update</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <!-- Table selector -->
                        <div class="panel panel-default" ng-controller="tableSelectorCtrl">
                            <div class="panel-heading" role="tab" id="tablePanelHeading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#tablePanelCollapse" aria-expanded="true" aria-controls="tablePanelCollapse">Tables</a>
                                    <a href ng-click="nav.current = 'tables'">({{ tables.length }})</a>
                                </h4>
                            </div>
                            <div id="tablePanelCollapse" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="tablePanelHeading">
                                <div class="panel-body">
                                    <ul>
                                        <li ng-repeat="table in tables"><a href ng-click="showTable(table)">{{ table.relname }}</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- SQL console link -->
                        <div class="panel panel-default" ng-controller="sqlSelectorCtrl">
                            <div class="panel-heading" role="tab" id="sqlPanel">
                                <h4 class="panel-title">
                                    <a href ng-click="nav.current = 'sql'">
                                        SQL Console
                                    </a>
                                </h4>
                            </div>
                        </div>
                        <!-- Settings -->
                        <div class="panel panel-default" ng-controller="settingsCtrl">
                            <div class="panel-heading" role="tab" id="settingsPanelHeading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#settingsPanelCollapse" aria-expanded="true" aria-controls="settingsPanelCollapse">Settings</a>
                                </h4>
                            </div>
                            <div id="settingsPanelCollapse" class="panel-collapse collapse" role="tabpanel" aria-labelledby="settingsPanelHeading">
                                <form novalidate>
                                    <div class="panel-body">
                                        <div class="form-group">
                                            <label for="name">Default # rows in result tables</label>
                                            <input type="number" id="rowsPerPage" class="form-control" ng-model="settings.rowsPerPage">
                                        </div>
                                        <div class="form-group">
                                            <label for="name">Default # rows in SQL console table</label>
                                            <input type="number" id="sqlConsoleRowsPerPage" class="form-control" ng-model="settings.sqlConsoleRowsPerPage">
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Tables pane -->
                <div class="col-md-9" ng-controller="tablesCtrl" ng-show="nav.current == 'tables'">
                    <cdb-result-table rows="tables" headers="headers" actions="actions" settings="cdbrt"></cdb-result-table>
                </div>
                <!-- Single table pane -->
                <div class="col-md-9" ng-controller="tableCtrl" ng-show="nav.current.indexOf('tables.table') == 0">
                    <div role="tabpanel">
                        <ul class="nav nav-tabs" role="tablist">
                            <li role="presentation"><a href ng-class="{active: nav.current == 'tables.table.columns'}" aria-controls="columns" role="tab" ng-click="nav.current = 'tables.table.columns'">Columns</a></li>
                            <li role="presentation"><a href ng-class="{active: nav.current == 'tables.table.indexes'}" aria-controls="indexes" role="tab" ng-click="nav.current = 'tables.table.indexes'">Indexes</a></li>
                            <li role="presentation"><a href ng-class="{active: nav.current == 'tables.table.records'}" aria-controls="records" role="tab" ng-click="nav.current = 'tables.table.records'">Records</a></li>
                            <li role="presentation"><a href ng-class="" aria-controls="tdb" role="tab" ng-click="">...</a></li>
                        </ul>
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane active" ng-show="nav.current == 'tables.table.columns'">
                                <cdb-result-table rows="columns" settings="cdbrt"></cdb-result-table>
                            </div>
                            <div role="tabpanel" class="tab-pane active" ng-show="nav.current == 'tables.table.indexes'">
                                <cdb-result-table rows="indexes" settings="cdbrt"></cdb-result-table>
                            </div>
                            <div role="tabpanel" class="tab-pane active" ng-show="nav.current == 'tables.table.records'">
                                <cdb-result-table rows="records" settings="cdbrt"></cdb-result-table>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- SQL console pane -->
                <div class="col-md-9" ng-controller="sqlCtrl" ng-show="nav.current == 'sql'">
                    <div class="container-fluid">
                        <div class="row">
                            <form novalidate>
                                <div class="panel">
                                    <div class="panel-body">
                                        <div ui-codemirror="{ onLoad: codemirrorLoaded }" ui-codemirror-opts="editorOptions" ng-model="sql.query"></div>
                                    </div>
                                    <div class=panel-footer">
                                        <span class="pull-right">
                                            <span ng-show="historyNotFound">(Not found)</span>
                                            <div style="width: 300px; display: inline-block">
                                                <div class="input-group">
                                                    <input type="text" ng-model="sql.historyNeedle" class="form-control">
                                                    <span class="input-group-btn">
                                                        <button class="btn btn-default" ng-click="searchHistory(sql.historyNeedle)" type="button">Search history</button>
                                                    </span>
                                                </div>
                                            </div>
                                            <small><i>Use Ctrl-Up / Ctrl-Down to browse history</i></small>
                                            <button type="button" class="btn" ng-click="cleanHistory()">Clean history</button>
                                            <button type="button" class="btn" ng-click="resetConsole()">Reset console</button>
                                            <button type="button" class="btn btn-primary" ng-click="execSQL(sql.query)">Execute query (Ctrl-Enter)</button>
                                        </span>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="row">
                            <h4 ng-show="running">Please wait...</h4>
                            <h4 ng-show="!running && sql.result.data.rows">Total rows: {{ sql.result.data.total_rows }}, server runtime: {{ sql.result.data.time }}s</h4>
                        </div>
                        <div class="row">
                            <cdb-result-table rows="sql.result.data.rows" settings="cdbrt"></cdb-result-table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script src="vendor/ngStorage.min.js"></script>
        <script src="vendor/codemirror/codemirror.js"></script>
        <script src="vendor/codemirror/sql.js"></script>
        <script src="vendor/codemirror/ui-codemirror.js"></script>
        <script src="vendor/angularutils/dirPagination.js"></script>
        <script>
            var cdbmanager = angular.module("cdbmanager", ["ngStorage", "api", "ui.codemirror", "angularUtils.directives.dirPagination"]);
            cdbmanager.config(function (paginationTemplateProvider) {
                paginationTemplateProvider.setPath('vendor/angularutils/dirPagination.tpl.html');
            });
        </script>
        <script src="settings.js"></script>
        <script src="ui/table.js"></script>
        <script src="nav.js"></script>
        <script src="alerts.js"></script>
        <script src="endpoints.js"></script>
        <script src="api.js"></script>
        <script src="records.js"></script>
        <script src="tables.js"></script>
        <script src="columns.js"></script>
        <script src="indexes.js"></script>
        <script src="sql.js"></script>
    </body>
</html>
