<!doctype html>
<html lang="en" ng-app="cdbmanager">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>CartoDB Manager</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
        <link rel="stylesheet" href="vendor/codemirror/codemirror.css" />
        <style>
            .CodeMirror {
                border-top: 1px solid black;
                border-bottom: 1px solid black;
            }
        </style>
        <script src="https://code.jquery.com/jquery-1.11.2.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<!--        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>-->
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.js"></script>
    </head>
    <body>
        <!-- Top bar -->
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">CDB Manager</a>
                </div>
          </div>
        </nav>
        <!-- Alert messages -->
        <div class="container-fluid">
            <div ng-controller="AlertCtrl">
                <div ng-repeat="alert in alerts" ng-class="'alert alert-dismissable alert-' + alert.type" role="alert">
                    <button type="button" class="close" ng-click="closeAlert($index)" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <alert  role="alert" >{{ alert.msg }}</alert>
                </div>
            </div>
        </div>
        <!-- Main work area -->
        <div class="container-fluid" ng-controller="endpointsCtrl">
            <!-- New endpoint dialog -->
            <div class="modal fade" id="add_endpoint_modal">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title">Add endpoint</h4>
                        </div>
                        <form name="new_endpoint_form" novalidate>
                            <div class="modal-body">
                                <div class="form-group">
                                    <label for="name">Endpoint name</label>
                                    <input type="text" id="name" class="form-control" ng-model="newEndpoint.name" ng-required="true">
                                </div>
                                <div class="form-group">
                                    <label for="name">SQL API endpoint URL</label>
                                    <input type="text" id="url" class="form-control" ng-model="newEndpoint.url" ng-required="true">
                                </div>
                                <div class="form-group">
                                    <label for="name">Account name</label>
                                    <input type="text" id="account" class="form-control" ng-model="newEndpoint.account" ng-required="true">
                                </div>
                                <div class="form-group">
                                    <label for="name">API key</label>
                                    <input type="text" id="api_key" class="form-control" ng-model="newEndpoint.apiKey">
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-primary" ng-disabled="new_endpoint_form.$invalid" ng-click="addEndpoint(newEndpoint)">Add</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div role="tabpanel">
                <!-- Endpoint tabs -->
                <ul class="nav nav-tabs" role="tablist">
                    <li ng-repeat="endpoint in endpoints" role="presentation" ng-class="{active: current == endpoint}"><a href="#{{ endpoint.name }}" ng-click="setCurrent(endpoint)" aria-controls="{{ endpoint.name }}" role="tab" data-toggle="tab">{{ endpoint.name }} <button type="button" class="close" ng-click="removeEndpoint(endpoint)" aria-label="Delete"><span aria-hidden="true">&times;</span></button></a></li>
                    <li role="presentation" class="pull-right"><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#add_endpoint_modal">New endpoint</button></li>
                </ul>

                <div ng-show="current" class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="tbd">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="panel">
                                    <div class="panel-body">
                                        <!-- Left menu -->
                                        <ul class="nav nav-pills nav-stacked">
                                            <li role="presentation" ng-class="{active: activePanel == 'table'}"><a href ng-click="activePanel = 'table'">Tables</a></li>
                                            <li role="presentation" ng-class="{active: activePanel == 'sql'}"><a href ng-click="activePanel = 'sql'">SQL console</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <!-- Tables pane -->
                            <div class="col-md-9" ng-controller="tablesCtrl" ng-if="activePanel == 'table'">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th>Name</th>
                                            <th>Owner</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="table in tables">
                                            <td>{{ table.table_name }}</td>
                                            <td>{{ table.table_schema }}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <!-- SQL console pane -->
                            <div class="col-md-9" ng-controller="sqlCtrl" ng-show="activePanel == 'sql'">
                                <div class="container-fluid">
                                    <div class="row">
                                        <form novalidate>
                                            <div class="panel">
                                                <div class="panel-body">
                                                    <div ui-codemirror ui-codemirror-opts="editorOptions" ng-model="sql.query"></div>
                                                </div>
                                                <div class=panel-footer">
                                                    <button type="button" class="btn btn-primary pull-right" ng-click="execSQL(sql.query)">Execute query</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="row" style="overflow: auto;">
                                        <dir-pagination-controls ng-show="sql.result"></dir-pagination-controls>
                                        <table class="table table-striped">
                                            <thead>
                                                <th ng-repeat="(title, value) in sql.result.data.rows[0]">{{ title }}</th>
                                            </thead>
                                            <tbody>
                                                <tr dir-paginate="row in sql.result.data.rows | itemsPerPage: 25">
                                                    <td ng-repeat="column in row">{{ column }}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script src="vendor/ngStorage.min.js"></script>
        <script src="vendor/codemirror/codemirror.js"></script>
        <script src="vendor/codemirror/sql.js"></script>
        <script src="vendor/codemirror/ui-codemirror.js"></script>
        <script src="vendor/dirPagination.js"></script>
        <script>
            var cdbmanager = angular.module("cdbmanager", ["ngStorage", "api", "ui.codemirror", "angularUtils.directives.dirPagination"]);
            cdbmanager.config(function (paginationTemplateProvider) {
                paginationTemplateProvider.setPath('vendor/dirPagination.tpl.html');
            });
        </script>
        <script src="alerts.js"></script>
        <script src="endpoints.js"></script>
        <script src="api.js"></script>
        <script src="tables.js"></script>
        <script src="sql.js"></script>
    </body>
</html>
