<div class="panel panel-default" ng-show="rows">
    <div class="panel-heading">
        Rows per page: <input ng-model="settings.rowsPerPage" type="number" />
    </div>
    <div style="overflow: auto;">
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th ng-show="headers" ng-repeat="header in headers">{{ header }}</th>
                    <th ng-show="!headers" ng-repeat="(name, value) in rows[0]" ng-if="itemIsData(name, value)">{{ name }}</th>
                    <th ng-show="actions">Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr dir-paginate="row in rows | itemsPerPage: settings.rowsPerPage">
                    <td ng-repeat="(name, value) in row" ng-if="itemIsData(name, value)">{{ value }}</td>
                    <td ng-show="actions"><a href ng-repeat="action in actions" ng-click="action.onClick(row)" class="btn btn-default" role="button">{{ action.text }}</a></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="panel-footer" style="text-align: right">
        <dir-pagination-controls></dir-pagination-controls>
    </div>
</div>
