<div class="panel panel-default" ng-show="rows">
    <div class="panel-heading">
        Rows per page: <input ng-model="settings.rowsPerPage" type="number" />
    </div>
    <div style="overflow: auto;">
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th ng-if="settings.headers" ng-repeat="header in settings.headers"><a href ng-click="settings.orderBy(header.name, settings.rowsPerPage)">{{ header.title }}</a></th>
                    <th ng-repeat="(name, value) in rows[0]" ng-if="!settings.headers && settings.orderBy && itemIsData(name, value)"><a href ng-click="settings.orderBy(name, settings.rowsPerPage)">{{ name }}</a></th>
                    <th ng-repeat="(name, value) in rows[0]" ng-if="!settings.headers && !settings.orderBy && itemIsData(name, value)">{{ name }}</th>
                    <th ng-if="settings.actions">Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-if="settings.async" dir-paginate="row in rows | itemsPerPage: settings.rowsPerPage" total-items="rows[0].total_rows" pagination-id="settings.id">
                    <td ng-repeat="(name, value) in row" ng-if="itemIsData(name, value)">{{ value }}</td>
                    <td ng-if="settings.actions"><a href ng-repeat="action in settings.actions" ng-click="action.onClick(row)" class="btn btn-default" role="button">{{ action.text }}</a></td>
                </tr>
                <tr ng-if="!settings.async" dir-paginate="row in rows | itemsPerPage: settings.rowsPerPage" pagination-id="settings.id">
                    <td ng-repeat="(name, value) in row" ng-if="itemIsData(name, value)">{{ value }}</td>
                    <td ng-if="settings.actions"><a href ng-repeat="action in settings.actions" ng-click="action.onClick(row)" class="btn btn-default" role="button">{{ action.text }}</a></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="panel-footer" style="text-align: right">
        <dir-pagination-controls ng-if="settings.async" on-page-change="pageChanged(newPageNumber)" pagination-id="settings.id"></dir-pagination-controls>
        <dir-pagination-controls ng-if="!settings.async" pagination-id="settings.id"></dir-pagination-controls>
    </div>
</div>
